<script>
    var entityStudentBirthday = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.StudentBirthDay)";
    var entityStudentSummary = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.StudentSummaryList)";

    var entityNewStudentSummary = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.NewAdmissionList)";
    var entityLeftStudentSummary = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.LeftStudentList)";
    var entitySiblingStudentSummary = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.SiblingStudentList)";

    var entityStudentSummaryForSMS = @Convert.ToInt32(AcademicLib.BE.Global.ENTITIES.StudentReport);
    var entityStudentBirthdayForSMS = @Convert.ToInt32(AcademicLib.BE.Global.ENTITIES.STUDENT_BIRTHDAY);
</script>
<script src="~/jslib/Academic/Birthday.js?v=20251115"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="BirthdayController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content" id="pills-tabContent">
                    <!-- First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                         aria-labelledby="pills-second-tab">
                        <!-- if-page-have-nav-tabs -->
                        <header class="if-page-have-nav-tabs">
                            <div class="row upper-tab">
                                <div class="col-md-12">
                                    <!-- <h3 class="menu-title">Class Setup</h3> -->
                                    <ul class="nav nav-tabs cstm-nav-tabs-border-bottom-active" id="myTab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                               href="#home" role="tab" aria-controls="home"
                                               aria-selected="true">Student Birthday</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                               href="#profile" role="tab" aria-controls="profile"
                                               aria-selected="false">Employee Birthday</a>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </header>
                        <!-- end if-page-have-nav-tabs -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div id="student-birthday-section">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Class</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newStudentBirthday.ClassId">
                                                        <option ng-value="0">**Select Class**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in ClassList" ng-selected="cl.id==newStudentBirthday.ClassId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">

                                                                <label>For Date</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="newStudentBirthday.ForDate_TMP" date-picker date-detail="newStudentBirthday.ForDateDet">
                                                            </div>
                                                            <div class="col-md-6">

                                                                <label>To Date</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="newStudentBirthday.ToDate_TMP" date-picker date-detail="newStudentBirthday.ToDateDet">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">

                                                                <div class="form-group">
                                                                    <label>From Month</label>
                                                                    <select class="form-control form-control-sm select2" ng-model="newStudentBirthdayMonthId">
                                                                        <option ng-value="0">**Select Month**</option>
                                                                        <option ng-value="cl.id" ng-repeat="cl in MonthList" ng-selected="cl.id==newStudentBirthday.MonthId">{{cl.text}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">

                                                                <div class="form-group">
                                                                    <label>To Month</label>
                                                                    <select class="form-control form-control-sm select2" ng-model="newStudentBirthdayMonthId">
                                                                        <option ng-value="0">**Select Month**</option>
                                                                        <option ng-value="cl.id" ng-repeat="cl in MonthList" ng-selected="cl.id==newStudentBirthday.MonthId">{{cl.text}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <header class="row mb-2 ">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">

                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text cstm">Show</label>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.StudentBirthday">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.StudentBirthday">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.StudentBirthday">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown no-caret d-inline-block">
                                                <button type="button" class="btn btn-secondary btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-columns"></i>
                                                </button>
                                                <ul class="dropdown-menu cstm-column-visibility dropdown-menu-right">
                                                    <span class="dropdown-item">Column Visibility:</span>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option1" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Name
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option2" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Position
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option3" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Office
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option3" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Age
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option3" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Salary
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li class="btns-wrap">
                                                        <a href="#" class="btn btn-link btn-sm">Restore</a>
                                                        <a href="#" class="btn btn-secondary btn-sm">Appy</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                </div>
                                            </div>

                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll ag-theme-alpine" id="birthday-table">
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div id="student-birthday-section">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Class</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newEmployee.ClassId">
                                                        <option ng-value="0">**Select Class**</option>
                                                        <option ng-value="cl.id" ng-repeat="cl in ClassList" ng-selected="cl.id==newEmployee.ClassId">{{cl.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">

                                                                <label>For Date</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="newEmployeeBirthday.ForDate_TMP" date-picker date-detail="newEmployeeBirthday.ForDateDet">
                                                            </div>
                                                            <div class="col-md-6">

                                                                <label>To Date</label>
                                                                <input type="text" class="form-control form-control-sm" ng-model="newEmployeeBirthday.ToDate_TMP" date-picker date-detail="newEmployeeBirthday.ToDateDet">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">

                                                                <div class="form-group">
                                                                    <label>From Month</label>
                                                                    <select class="form-control form-control-sm select2" ng-model="newEmployeeBirthdayMonthId">
                                                                        <option ng-value="0">**Select Month**</option>
                                                                        <option ng-value="cl.id" ng-repeat="cl in MonthList" ng-selected="cl.id==newEmployeeBirthday.MonthId">{{cl.text}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">

                                                                <div class="form-group">
                                                                    <label>To Month</label>
                                                                    <select class="form-control form-control-sm select2" ng-model="newEmployeeBirthdayMonthId">
                                                                        <option ng-value="0">**Select Month**</option>
                                                                        <option ng-value="cl.id" ng-repeat="cl in MonthList" ng-selected="cl.id==newEmployeeBirthday.MonthId">{{cl.text}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <header class="row mb-2 ">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text cstm">Show</label>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.EmployeeBirthday">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.EmployeeBirthday">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.EmployeeBirthday">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-5 text-right">
                                            <div class="dropdown no-caret d-inline-block">
                                                <button type="button" class="btn btn-secondary btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-columns"></i>
                                                </button>
                                                <ul class="dropdown-menu cstm-column-visibility dropdown-menu-right">
                                                    <span class="dropdown-item">Column Visibility:</span>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option1" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Name
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option2" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Position
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option3" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Office
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option3" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Age
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="small dropdown-item" data-value="option3" tabIndex="-1">
                                                            <label class="checkbox-wrap">
                                                                Salary
                                                                <input type="checkbox" checked>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li class="btns-wrap">
                                                        <a href="#" class="btn btn-link btn-sm">Restore</a>
                                                        <a href="#" class="btn btn-secondary btn-sm">Appy</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="dropdown dnld-file" data-toggle="tooltip"
                                                 data-placement="top" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item" href="#"><img src="./dynamic/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> Mail</a>
                                                </div>
                                            </div>

                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y sales-main-table table-scroll ag-theme-alpine" id="employee-birthday">

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </section>
            <!-- /.row -->

        </div>
        <!--/. container-fluid -->
    </section>
</div>


           
