<script src="~/jslib/inventory/transaction/SalesTarget.js?v=20251012"></script>
<script>
    var VoucherType = "@ViewBag.VoucherType";
    var EntityId = "@ViewBag.EntityId";
</script>
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div ng-app="myApp" ng-controller="SalesQuotation" ng-cloak>
    <div class="sale-page-wrap">
        <div class="overflow-hidden">
            @RenderPage("~/Views/Global/_WaitDialog.cshtml")
            @RenderPage("~/Views/Global/_LedgerDetails.cshtml")
            <!-- Page Content  -->
            <div class="content-wrapper-new">
                <div class="card">
                    <div class="card-header header-corner-triangle overflow-hidden">
                        <div class="row">
                            <h3 class="card-title">Sales Target</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Target No. :</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control form-control-sm serial" placeholder="" ng-model="beData.AutoManualNo" readonly ng-hide="HideShow.AutoVoucherNo==true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Voucher Date :</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control form-control-sm float-right serial hideSideBar" name="VoucherDate" date-picker ng-model="beData.VoucherDate" date-detail="beData.VoucherDateDet" />
                                            @*<input type="text" class="form-control float-right serial hideSideBar" name="VoucherDate" voucher-date ng-model="beData.VoucherDate" readonly />*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">Credit Limit :</label>
                                        <div class="col-sm-6 col-md-6">
                                            <input type="text" class="form-control form-control-sm serial hideSideBar" placeholder="" ng-model="beData.CreditLimit">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="form-control form-control-sm col-sm-4 col-form-label">Party A/C No :</label>
                                        <div class="col-sm-8">
                                            <div class="d-flex">
                                                <div class="input-group">
                                                    <select autoShowHide="true" class="select2 serial" all-ledger ng-model="beData.PartyLedgerId" id="cboParty" style="width:95%" ledgertype="3"
                                                            placeholder="** Select Party Name **" showdetails="true" confirm-action="PartySelectionChange(beData)" ledger-detail="beData.PartyLedger" side-bar-data="beData.partySideBarData"></select>

                                                </div>
                                                <button type="button" class="btn btn-default ml-2" data-toggle="modal" data-target="#partyAccRightBtn">
                                                    <i class="fas fa-bars"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- row -->
                        </form>
                    </div>
                    <!-- end form fiels -->
                    <div class="card-body pt-0">
                        <div class="table-scroll-x-y @*sales-main-table*@">
                            <table id="main-table" class="main-table table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class="text-center align-middle sn-col-width">SN.</th>
                                        <th rowspan="2" class="text-center align-middle particular-col-width">Particulars</th>
                                        <th rowspan="2" class="text-center align-middle" style="width: 150px" ng-hide="HideShow.CurrentBalance==true">Closing Stock</th>
                                        @*<th rowspan="2" class="text-center align-middle" style="width: 150px" ng-hide="HideShow.ProductLedger==true">Sales Ledger</th>*@
                                        <th ng-colspan=" HideShow.BilledQty==true ? 2 : 1" scope="colgroup" class="text-center" style="width: 200px">Quantity</th>
                                        @*<th colspan="2" scope="colgroup" class="text-center" style="width: 200px" ng-hide="HideShow.FreeQty==true">Fee</th>
                                            <th rowspan="2" class="text-center align-middle" style="width: 150px" ng-hide="HideShow.AlternetUnit==true">Alternate Unit</th>*@
                                        <th rowspan="2" class="text-center align-middle" style="width: 100px">Rate</th>
                                        <th rowspan="2" class="text-center align-middle" style="width: 100px">Per</th>
                                        @*<th colspan="2" scope="colgroup" class="text-center" style="width: 180px" ng-hide="HideShow.Discount==true">Discount</th>
                                            <th colspan="2" scope="colgroup" class="text-center" style="width: 150px" ng-hide="HideShow.Scheme==true">Scheme</th>*@
                                        <th rowspan="2" class="text-center align-middle" style="width: 150px">Amount</th>
                                        <th rowspan="2" class="text-center align-middle" style="width: 80px">Action</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="itemDet in beData.ItemDetailsColl">
                                        <th align="center">
                                            {{$index+1}}
                                        </th>
                                        <td>
                                            <select autoShowHide="true" class="form-control select2 serial" all-product ng-model="itemDet.ProductId" style="width:100%"
                                                    placeholder="** Select Product  **" showdetails="true" confirm-action="ProductSelectionChange(itemDet)" product-detail="itemDet.productDetail" side-bar-data="itemDet.sideBarData"></select>
                                        </td>
                                        <td ng-hide="HideShow.CurrentBalance==true">
                                            <input type="text" class="form-control" readonly name="Current Balance" ng-model="itemDet.ClosingQty">
                                        </td>

                                        <td><input type="text" number-input class="form-control serial hideSideBar" name="ActualQty" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'aQty')" ng-model="itemDet.ActualQty" ng-style="itemDet.IsNegativeQty==true && { 'color' : 'red' }"></td>
                                        <td ng-hide="HideShow.BilledQty==true"><input type="text" number-input class="form-control serial hideSideBar" style="text-align:center" name="BilledQty" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'bQty')" ng-model="itemDet.BilledQty"></td>
                                        <td ng-hide="HideShow.FreeQty==true"><input type="text" number-input class="form-control serial hideSideBar" style="text-align:center" name="FreeQty" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'fQty')" ng-model="itemDet.FreeQty"></td>
                                        <td ng-hide="HideShow.FreeQty==true"><input type="text" number-input class="form-control serial hideSideBar" style="text-align:right" name="TotalQty" onfocus="this.select();" ng-model="itemDet.TotalQty"></td>
                                        <td ng-hide="HideShow.AlternetUnit==true"><input type="text" class="form-control hideSideBar" name="Alternet Unit" ng-model="itemDet.AlternetUnitDet"></td>
                                        <td><input type="text" number-input class="form-control serial hideSideBar" style="text-align:right" name="Rate" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'rate')" noofdecimal="itemDet.RateDecimal" ng-model="itemDet.Rate" ng-readonly="itemDet.CanEditRate==false"></td>
                                        <td>
                                            <input type="text" class="form-control hideSideBar" readonly name="Unit" ng-model="itemDet.UnitName">
                                        </td>
                                        <td ng-hide="HideShow.Discount==true || HideShow.DiscountPer==true"><input type="text" number-input class="form-control serial hideSideBar" style="text-align:right" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'disPer')" ng-model="itemDet.DiscountPer"></td>
                                        <td ng-hide="HideShow.Discount==true || HideShow.DiscountAmt==true"><input type="text" number-input class="form-control serial hideSideBar" style="text-align:right" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'disAmt')" ng-model="itemDet.DiscountAmt"></td>
                                        <td ng-hide="HideShow.Scheme==true || HideShow.SchemePer==true"><input type="text" number-input class="form-control serial hideSideBar" style="text-align:right" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'schPer')" ng-model="itemDet.SchamePer"></td>
                                        <td ng-hide="HideShow.Scheme==true || HideShow.SchemeAmt==true"><input type="text" number-input class="form-control serial hideSideBar" style="text-align:right" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'schAmt')" ng-model="itemDet.SchameAmt"></td>
                                        <td><input type="text" number-input class="form-control serial hideSideBar" style="text-align:right" onfocus="this.select();" name="Amount" ng-model="itemDet.Amount" readonly ng-blur="AddRowInItemDetails($index,true)"></td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add Row" ng-click="AddRowInItemDetails($index,false)"><i class="fas fa-plus"></i></a>
                                                <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete Row." ng-click="delRowFromItemDetails($index)"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- card-body -->
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-md-8 col-xl-9">
                                <div class="form-group">
                                    <input type="text" list="lstNarration" class="form-control form-control-sm hideSideBar" name="" id="" rows="3" placeholder="Narration" ng-model="beData.Narration">
                                    <datalist id="lstNarration">
                                        <option ng-repeat="x1 in NarrationList track by $index" value="{{x1}}">
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-5 col-sm-6 col-form-label font-weight-bold">Sub Total:</label>
                                    <div class="col-7 col-sm-6 col-md-6">
                                        <input type="text" number-input class="form-control form-control-sm hideSideBar" style="text-align:right" placeholder="" readonly ng-model="beData.SubTotal">
                                    </div>
                                </div>
                                <div class="form-group row" ng-repeat="ledAll in beData.AditionalCostColl">
                                    <label for="inputEmail3" class="col-5 col-sm-6 col-form-label font-weight-bold">{{ledAll.Name}}:</label>
                                    <div class="col-7 col-sm-6 col-md-6">
                                        <input type="text" number-input class="form-control form-control-sm hideSideBar" style="text-align:right" placeholder="" ng-model="ledAll.Amount" ng-readonly="ledAll.CanEditAmount==false">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.card body -->
                </div>
                <div style="height: 30px"></div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>

    <footer class="main-footer control-btns pt-0">
        <div class="secondary-footer mb-2 mt-2" style="padding-left: 27px; padding-right: 40px;">
            <div class="row">
                <div class="col-md-8 col-xl-9">

                </div>
                <div class="col-md-4 col-xl-3">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-5 col-sm-6 col-form-label font-weight-bold text-dark text-right">Total:</label>
                        <div class="col-7 col-sm-6 col-md-6">
                            <input type="text" number-input class="form-control hideSideBar" style="text-align:right;" placeholder="" readonly ng-model="beData.TotalAmount">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-8">
                <form class="form-inline justify-content-end">

                    <button type="button" class="btn btn-default ml-1" ng-click="ClearData()">Clear</button>
                    <button type="button" class="btn btn-default ml-1" ng-click="Print()">Re-Print</button>
                    <button type="button" class="btn btn-secondary ml-1" ng-click="SearchData()">Search</button>
                    <button type="button" class="btn btn-success ml-1" ng-click="SaveSalesQuotation()" ng-disabled="loadingstatus=='running'">Save</button>
                </form>
            </div>
        </div>
    </footer>


    <!-- Sales Quotation Details Modal demo 2 -->
    <div class="modal fade bd-example-modal-xl sales-quotation-page-modal" id="frmSalesQuotationDetailsModel" @*tabindex="-1"*@ role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Sales Quotation Details</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body gradient-bg">
                    <div id="table-scroll">
                        <div id="datatable" style="height: calc(55vh - 200px);width: 100%;" class="ag-theme-balham"></div>
                    </div>
                    <div class="sec3">
                        <article>
                            <h6 class="title">Dispatch Details</h6>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-lg-5 col-form-label">Dispatch Through:</label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control form-control-sm" ng-model="beData.SalesQuotationDetail.DespatchThrough">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-lg-5 col-form-label">Destination:</label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control form-control-sm" ng-model="beData.SalesQuotationDetail.Destination">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <h6 class="title">Quotation Details</h6>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-lg-5 col-form-label">Mode/Terms Of Payments:</label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control form-control-sm" ng-model="beData.SalesQuotationDetail.TermsOfPayment">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-lg-5 col-form-label">Other References:</label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control form-control-sm" ng-model="beData.SalesQuotationDetail.OtherRefernces">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-lg-5 col-form-label">Terms Of Delivery:</label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control form-control-sm" ng-model="beData.SalesQuotationDetail.TermsOfDelivery">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <h6 class="title">Buyer Details</h6>
                            <div class="article-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-5 col-form-label">Buyer</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm" ng-model="beData.SalesQuotationDetail.Buyes">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-4 offset-lg-1 col-form-label">Address</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm" ng-model="beData.SalesQuotationDetail.Address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-4 offset-lg-1 col-form-label">Contact No.</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm float-right" name="VoucherDate" ng-model="beData.SalesQuotationDetail.ContactNo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-5 col-form-label">PAN/VAT No.</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm" placeholder="" ng-model="beData.SalesQuotationDetail.SalesTaxNo">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end row -->
                            </div>
                        </article>
                        <article>
                            <h6 class="title">Vehicle Details</h6>
                            <div class="article-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-5 col-form-label">Regd No. :</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm" ng-model="beData.SalesQuotationDetail.RegdNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-4 offset-lg-1 col-form-label">Engine No. :</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm" ng-model="beData.SalesQuotationDetail.EngineNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-4 offset-lg-1 col-form-label">Ch.Srl.No. :</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm float-right" ng-model="beData.SalesQuotationDetails.ChassisNo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-5 col-form-label">Model :</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm" placeholder="" ng-model="beData.SalesQuotationDetails.Model">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-4 offset-lg-1 col-form-label">Vin No. :</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm" placeholder="" ng-model="beData.SalesQuotationDetails.VinNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-4 offset-lg-1 col-form-label">Displacement</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm float-right" ng-model="beData.SalesQuotationDetails.Displacement" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-5 col-form-label">Variant :</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm float-right" ng-model="beData.SalesQuotationDetails.Variant" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-4 offset-lg-1 col-form-label">Fuel Type :</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm float-right" ng-model="beData.SalesQuotationDetails.FuelType" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-4 offset-lg-1 col-form-label">Transmission</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm float-right" ng-model="beData.SalesQuotationDetails.Transmission" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-lg-5 col-form-label">Color</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control form-control-sm float-right" name="VoucherDate" ng-model="beData.SalesQuotationDetails.Color" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end row -->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="modal-footer py-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    @*<button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Edit</button>*@
                    <button type="button" class="btn btn-sm btn-success" ng-click="LoadRefProduct()">Ok</button>
                </div>
            </div>
        </div>
    </div>




    <!--  Party's A/c No. right button Modal demo -->
    <div class="modal fade sales-quotation-page-modal document-attach-modal" id="partyAccRightBtn" tabindex="-1" role="dialog" aria-labelledby="partyAccRightBtn" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle"></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body gradient-bg">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="" class="col-sm-1 col-form-label col-form-label-sm">Find</label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <select class="form-control form-control-sm">
                                                <option>Contai</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label col-form-label-sm text-center">Search By</label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <select class="form-control form-control-sm">
                                                <option>Days</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <table id="main-table" class="main-table table table-sm table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>SN.</th>
                                    <th>Days</th>
                                    <th>Invoice No.</th>
                                    <th>Date</th>
                                    <th> Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>12</td>
                                    <td>FB3633</td>
                                    <td>2077/01/14</td>
                                    <td>
                                        1104633.76
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>12</td>
                                    <td>FB3633</td>
                                    <td>2077/01/14</td>
                                    <td>
                                        1104633.76
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>12</td>
                                    <td>FB3633</td>
                                    <td>2077/01/14</td>
                                    <td>
                                        1104633.76
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>12</td>
                                    <td>FB3633</td>
                                    <td>2077/01/14</td>
                                    <td>
                                        1104633.76
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>12</td>
                                    <td>FB3633</td>
                                    <td>2077/01/14</td>
                                    <td>
                                        1104633.76
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>12</td>
                                    <td>FB3633</td>
                                    <td>2077/01/14</td>
                                    <td>
                                        1104633.76
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>12</td>
                                    <td>FB3633</td>
                                    <td>2077/01/14</td>
                                    <td>
                                        1104633.76
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>12</td>
                                    <td>FB3633</td>
                                    <td>2077/01/14</td>
                                    <td>
                                        1104633.76
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="font-weight-bold">Total</td>
                                    <td class="font-weight-bold">00.00</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- end modal body -->
                <div class="modal-footer justify-content-between align-items-center py-2">
                    <h6 class="mb-0">Total Record: 1</h6>
                    <div class="">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Edit</button>
                        <button type="button" class="btn btn-sm btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Search Voucher right button Modal demo -->
    <div class="modal fade sales-quotation-page-modal document-attach-modal" id="searVoucherRightBtn" tabindex="-1" role="dialog" aria-labelledby="partyAccRightBtn" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Search Sales Quotation Voucher</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body gradient-bg">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label col-form-label-sm text-center">Search By</label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <select class="form-control form-control-sm" style="width: 100%;" ng-model="paginationOptions.SearchColDet">
                                                <option ng-value="asp" ng-repeat="asp in VoucherSearchOptions">{{asp.text}}</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" ng-model="paginationOptions.SearchVal">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-search" ng-click="ReSearchData(-1)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form class="float-right">
                                <div class="form-row align-items-center">
                                    <div class="d-flex align-items-center">
                                        <label class="mr-sm-2 mb-0" for="inlineFormCustomSelect">Show</label>
                                        <input type="text" ng-model="paginationOptions.pageSize" class="form-control input-sm" placeholder="NoOfRows" @*ng-blur="ReSearchData(-2)"*@>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="">
                        <table id="main-table" class="main-table table table-sm table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Miti</th>
                                    <th>Days</th>
                                    <th>Invoice No.</th>
                                    <th>Ref. No.</th>
                                    <th>Party Ledger</th>
                                    <th>Amount</th>
                                    <th>Voucher</th>
                                    <th>CostClass</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="sd in SearchDataColl |orderBy:sortKey:reverse|itemsPerPage:paginationOptions.pageSize" total-items="paginationOptions.TotalRows">
                                    <td align="center">{{sd.VoucherDate |dateFormat}}</td>
                                    <td align="center">{{sd.VoucherMiti}}</td>
                                    <td align="center">{{sd.Days}}</td>
                                    <td align="center">{{sd.VoucherNo}}</td>
                                    <td>{{sd.RefNo}}</td>
                                    <td>{{sd.PartyLedger}}</td>
                                    <td align="right">
                                        {{sd.Amount |number:2}}
                                    </td>
                                    <td>{{sd.VoucherName}}</td>
                                    <td>{{sd.CostClass}}</td>
                                    <td>
                                        <a class="p-1" href="#" ng-click="GetClassById(cl)">
                                            <i class="fas fa-edit text-info"></i>
                                        </a>
                                        <a class="p-1" href="#" ng-click="DelClassById(cl)">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                        <a class="p-1" href="#" ng-click="PrintVoucher(sd.TranId,sd.VoucherId)">
                                            <i class="fas fa-print text-primary"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <dir-pagination-controls max-size="paginationOptions.pageSize" direction-links="true" boundary-links="true"
                                                 on-page-change="ReSearchData(newPageNumber)">
                        </dir-pagination-controls>
                    </div>

                </div>
                <!-- end modal body -->
                <div class="modal-footer justify-content-between align-items-center py-2">
                    <h6 class="mb-0">Total Record: {{paginationOptions.TotalRows}}</h6>
                    <div class="">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderPage("~/Global/_ReportTemplates.cshtml");
    @RenderPage("~/Views/Global/_IsValidTran.cshtml")
</div>
<script>
    (function ($) {

        "use strict";

        var fullHeight = function () {

            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();

        $('#ctmRightSidebarCollapse').on('click', function () {
            $('#sidebarzz').toggleClass('active');
        });

    })(jQuery);
</script>

<script>

    $(document).ready(function () {

        $(document).on('keyup', '.serial', function (e) {
            if (e.which == 13) {
                //var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
                //if (key == 13) {
                //    e.preventDefault();
                //    var inputs = $(this).closest('form').find(':input:visible');
                //    inputs.eq(inputs.index(this) + 1).focus();
                //}

                var index = $('.serial').index(this) + 1;
                $('.serial').eq(index).focus();
            }
        });



    });


</script>