
<script src="~/jslib/inventory/transaction/StockJournal.js?v=20251115"></script>
<script>
    var VoucherType = "@ViewBag.VoucherType";
    var EntityId = "@ViewBag.EntityId";
</script>
<style>
    .table-responsive {
        height: auto !important;
    }
    .form-group {
        margin-bottom: 0.4rem !important;
    }
</style>
<div ng-app="myApp" ng-controller="StockJournal" ng-init="getVoucherNo()" ng-cloak>
    <section class="iframe-content-starts-here" style="padding-top:45px!important">
        <div class="container-fluid">
            <div class="sale-page-wrap" style="height: 62rem;">
                <div class="overflow-hidden" style="overflow-y:auto!important">
                    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
                    @RenderPage("~/Views/Global/_LedgerDetails.cshtml")

                    <!-- Page Content  -->
                    <div class="content-wrapper-new">
                        <div class="container-fluid">
                            <div class="pt-1"></div>
                            <div class="card p-2">
                                <div class="">
                                    <div class="card-header header-corner-triangle overflow-hidden py-1" ng-hide="HideShow.CostClass==true && HideShow.VoucherType==true">
                                        <div class="row">
                                            <h3 class="card-title">{{SelectedVoucher && SelectedVoucher.VoucherName ? SelectedVoucher.VoucherName : 'Stock Journal'}}</h3>
                                            <div class="col-sm-4" ng-hide="HideShow.VoucherType==true">
                                                <div class="form-group row mb-1">
                                                    <label for="inputEmail3" class="col-sm-4">Voucher Type<span style="color:red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control form-control-sm hideSideBar" style="width: 100%;" ng-model="beData.VoucherId" ng-change="getVoucherNo()" ng-disabled="beData.TranId>0">
                                                            <option ng-repeat="vt in VoucherTypeColl track by vt.VoucherId" ng-value="vt.VoucherId" ng-selected="vt.VoucherId == beData.VoucherId">
                                                                {{vt.VoucherName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-hide="HideShow.CostClass==true">
                                                <div class="form-group row mb-1">
                                                    <label for="inputEmail3" class="col-sm-4">For Year<span style="color:red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control form-control-sm hideSideBar" style="width: 100%;" ng-model="beData.CostClassId" ng-change="getVoucherNo()" ng-disabled="beData.TranId>0">
                                                            <option ng-repeat="cc in CostClassColl track by cc.CostClassId" ng-value="cc.CostClassId" ng-selected="cc.CostClassId == beData.CostClassId">
                                                                {{cc.Name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body px-2 pt-2 pb-0">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group d-flex">
                                                    <label for="inputEmail3" style="min-width:120px;">Stock Journal No.<span style="color:red">*</span></label>
                                                    <input type="text" class="form-control form-control-sm serial" placeholder="" ng-model="beData.AutoManualNo" readonly ng-hide="HideShow.AutoVoucherNo==true">
                                                    <input type="text" class="form-control form-control-sm serial hideSideBar" placeholder="" ng-model="beData.ManualVoucherNO" ng-hide="HideShow.AutoVoucherNo==false">
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group d-flex" @*ng-hide="HideShow.RefNo==true"*@>
                                                            <label for="inputEmail3" style="min-width:60px;">{{SelectedVoucher.RefNoName ? SelectedVoucher.RefNoName : 'Ref. No.'}}<span style="color:red">*</span></label>
                                                            <input type="text" class="form-control form-control-sm serial hideSideBar" placeholder="" ng-model="beData.RefNo">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <div class="form-group d-flex" @*ng-show="comDet.Maintain==5"*@>
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input" type="checkbox"
                                                                       id="customCheckbox1" ng-model="beData.ForVehicle">
                                                                <label for="customCheckbox1"
                                                                       class="custom-control-label">
                                                                    Fixed Product
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group d-flex" @*ng-hide="HideShow.EntryDate==true"*@>
                                                            <label for="inputEmail3" style="min-width:90px;">{{SelectedVoucher.EntryDateLabel ? SelectedVoucher.EntryDateLabel : 'Entry Date'}}</label>
                                                            <input type="text" class="form-control form-control-sm float-right serial hideSideBar" name="EntryDate" date-picker ng-model="beData.EntryDate_TMP" date-detail="beData.EntryDateDet" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group d-flex">
                                                            <label for="inputEmail3" style="min-width:120px;">{{SelectedVoucher.VoucherDateLabel ? SelectedVoucher.VoucherDateLabel : 'Invoice Date'}}<span style="color:red">*</span></label>
                                                            <input type="text" class="form-control form-control-sm float-right serial hideSideBar" name="VoucherDate" date-picker ng-model="beData.VoucherDate_TMP" date-detail="beData.VoucherDateDet" confirm-action="getVoucherNoOnly()" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row mt-1" style="display:flex;justify-content:space-between">
                                        <div class="col-md-3">
                                            <p><b>Consumption (Outward)</b></p>
                                        </div>
                                        <div class="col-sm-2">
                                            @*<div class="form-group d-flex">
                                                    <label class="mt-1">Code</label>
                                                    <input type="text" class="form-control form-control-sm ml-2" />
                                                </div>*@
                                        </div>

                                    </div>
                                    <div class="table-scroll-x-y" style="height:auto!important;max-height: 20rem!important" ;>
                                        <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky" style="width: 50px; left: 0; z-index: 3;background-color:#ececec!important;">S.N.</th>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky" style="width: 300px; left: 50px; z-index: 3; background-color: #ececec!important;">Particulars</th>
                                                    <th ng-hide="HideShow.ProductDescription==true" rowspan="2" class="text-center align-middle" style="width: 150px; z-index: 2;background-color:#ececec!important;">Description</th>
                                                    <th ng-hide="HideShow.ProductLedger==true" rowspan="2" class="text-center align-middle" style="width: 150px; z-index: 2;background-color:#ececec!important;">Sales Ledger</th>
                                                    <th ng-hide="HideShow.Godown==true" rowspan="2" class="text-center align-middle" style="width: 150px; z-index: 2;background-color:#ececec!important;">Godown</th>
                                                    <th ng-hide="HideShow.CurrentBalance==true" rowspan="2" class="text-center align-middle" style="width: 150px; z-index: 2;background-color:#ececec!important;">Closing Stock</th>
                                                    <th ng-hide="HideShow.Batch==true" rowspan="2" class="text-center align-middle" style="width: 100px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.Product.BatchLabel ? SelectedVoucher.Product.BatchLabel : 'Batch No.' }}</th>
                                                    <th ng-hide="HideShow.MFGDate==true" rowspan="2" class="text-center align-middle" style="width: 100px; z-index: 2;background-color:#ececec!important;">MFG.Date</th>
                                                    <th ng-hide="HideShow.EXPDate==true" rowspan="2" class="text-center align-middle" style="width: 100px; z-index: 2;background-color:#ececec!important;">EXP.Date</th>

                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowEngineNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.EngineNo}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowChassisNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.ChassisNo}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowRegdNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.RegdNo}}</th>

                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowModel==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.Model}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowType==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.Type}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowColor==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.Color}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowKeyNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.KeyNo}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowCodeNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.CodeNo}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowMFGYear==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.MFGYear}}</th>

                                                    <th ng-show="comDet.Maintain==2" rowspan="2" class="text-center align-middle" style="width: 80px; z-index: 2;background-color:#ececec!important;">Weight<br />(gm)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Loss==true" rowspan="2" class="text-center align-middle" style="width: 70px; z-index: 2;background-color:#ececec!important;">Loss<br />(%)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Loss==true" rowspan="2" class="text-center align-middle" style="width: 80px; z-index: 2;background-color:#ececec!important;">Loss<br />(gm)</th>

                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Fine==true" rowspan="2" class="text-center align-middle" style="width: 70px; z-index: 2;background-color:#ececec!important;">Fine<br />(%)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Fine==true" rowspan="2" class="text-center align-middle" style="width: 80px; z-index: 2;background-color:#ececec!important;">Fine<br />(gm)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Processing==true" rowspan="2" class="text-center align-middle" style="width: 70px; z-index: 2;background-color:#ececec!important;">Processing<br />(%)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Processing==true" rowspan="2" class="text-center align-middle" style="width: 80px; z-index: 2;background-color:#ececec!important;">Processing<br />(gm)</th>

                                                    <th colspan="{{(HideShow.BilledQty==true ? 2 : 3 )}}" scope="colgroup" class="text-center" style="width: 250px; z-index: 2;background-color:#ececec!important;">{{comDet.Maintain==2 ? 'Total' :'Quantity' }}</th>
                                                    <th ng-hide="HideShow.AlternetUnit1==true" colspan="2" scope="colgroup" class="text-center" style="width: 170px; z-index: 2;background-color:#ececec!important;">Alt.Unit 1</th>
                                                    <th ng-hide="HideShow.AlternetUnit2==true" colspan="2" scope="colgroup" class="text-center" style="width: 170px; z-index: 2;background-color:#ececec!important;">Alt.Unit 2</th>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Rate</th>
                                                    <th ng-hide="HideShow.Discount==true" colspan="2" scope="colgroup" class="text-center" style="width: 180px; z-index: 2;background-color:#ececec!important;">Discount</th>
                                                    <th ng-hide="HideShow.Amount==true" rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Amount</th>

                                                    <th ng-show="comDet.Maintain==2" rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Making</th>
                                                    <th ng-show="comDet.Maintain==2" rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Stone/Extra</th>
                                                    <th ng-show="comDet.Maintain==2" rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Total</th>

                                                    <th ng-hide="HideShow.EachNarration==true" rowspan="2" class="text-center align-middle" style="width: 250px;background-color:#ececec!important;">Narration</th>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Action</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">{{comDet.Maintain==2 ? 'Weight' :'Actual' }}</th>
                                                    <th ng-hide="HideShow.BilledQty==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2; background-color: #ececec !important;">Billed</th>
                                                    <th scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Unit</th>
                                                    <th ng-hide="HideShow.AlternetUnit1==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Qty.</th>
                                                    <th ng-hide="HideShow.AlternetUnit1==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Unit</th>
                                                    <th ng-hide="HideShow.AlternetUnit2==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Qty.</th>
                                                    <th ng-hide="HideShow.AlternetUnit2==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Unit</th>
                                                    <th ng-hide="HideShow.Discount==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Per(%)</th>
                                                    <th ng-hide="HideShow.Discount==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="itemDet in beData.SourceItemDetailsColl | itemsPerPage:perPage.SourceItemDetRow" current-page="currentPages.SourceItemDetRow" pagination-id="SourceItemPagination">
                                                    <th class="align-middle cstm-sticky" style="width: 50px; left: 0; z-index: 2; background-color: #fff">{{$index+1}}</th>
                                                    <td class="cstm-sticky" style="width: 250px; z-index: 2; left: 50px; background-color: #fff">
                                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="itemDet.ProductId" style="width:100%"
                                                                placeholder="** Select Product  **" showdetails="true" confirm-action="ProductSelectionChange(itemDet)" product-detail="itemDet.productDetail" side-bar-data="itemDet.sideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="17" godown-id="itemDet.GodownId" godown-change="godownChange"></select>
                                                    </td>
                                                    <td ng-hide="HideShow.ProductDescription==true"><input type="text" class="form-control form-control-sm" ng-model="itemDet.Description"></td>
                                                    <td style="z-index: 1;" ng-hide="HideShow.ProductLedger==true">
                                                        <select ng-disabled="itemDet.AutoCharge==true" class="form-control form-control-sm select2bs4" active-select2 style="width: 100%; background-color: #fff" ng-model="itemDet.LedgerId" data-placeholder="**Select Sales Ledger**">
                                                            <option ng-value="sl.LedgerId" ng-repeat="sl in SalesLedgerColl" ng-selected="itemDet.LedgerId==sl.LedgerId">{{sl.Name}}</option>
                                                        </select>
                                                    </td>
                                                    <td style="z-index: 1;" ng-hide="HideShow.Godown==true">
                                                        <select ng-disabled="itemDet.AutoCharge==true" class="form-control form-control-sm select2bs4" active-select2 style="width: 100%; background-color: #fff" ng-model="itemDet.GodownId" data-placeholder="**Select Godown**" ng-change="godownChange()">
                                                            <option ng-repeat="cc in SelectedVoucher.VoucherWiseGodownColl track by cc.GodownId" ng-value="cc.GodownId" ng-selected="cc.GodownId == itemDet.GodownId">
                                                                {{cc.Name}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td ng-hide="HideShow.CurrentBalance==true">{{itemDet.ClosingQty}}</td>
                                                    <td ng-hide="HideShow.Batch==true">
                                                        <select class="form-control form-control-sm select2bs4" ng-hide="itemDet.productDetail.MaintainBatchWise==false" active-select2 style="width: 100%; background-color: #fff" ng-model="itemDet.Batch" data-placeholder="**Select Batch**" ng-change="ChangeBatch(itemDet)">
                                                            <option ng-value="bc.BatchNo" ng-repeat="bc in itemDet.productDetail.BatchWiseColl" ng-selected="itemDet.Batch==bc.BatchNo">{{bc.BatchNo}}-ED:{{bc.EXPDate |expFormat }}({{bc.BalQty |number:2}})</option>
                                                        </select>
                                                    </td>
                                                    <td ng-hide="HideShow.MFGDate==true">
                                                        <input ng-hide="itemDet.productDetail.UseMfgDate==false" exp-date type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.MFGDate" date-detail="itemDet.MFGDateDet">
                                                    </td>
                                                    <td ng-hide="HideShow.EXPDate==true">
                                                        <input ng-hide="itemDet.productDetail.UseExpDate==false" exp-date type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.EXPDate" date-detail="itemDet.EXPDateDet">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowEngineNo==true && beData.ForVehicle==true">
                                                        <select ng-hide="itemDet.RowType=='L'" class="form-control form-control-sm select2bs4" active-select2 style="width: 100%; background-color: #fff" ng-model="itemDet.EngineNo" data-placeholder="**Select Engine No**" ng-change="ChangeEngineNo(itemDet)">
                                                            <option ng-value="bc.EngineNo" ng-repeat="bc in itemDet.productDetail.FixedProductColl" ng-selected="itemDet.EngineNo==bc.EngineNo">{{bc.EngineNo}}-{{bc.RegdNo}}({{bc.ChassissNo}})</option>
                                                        </select>
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowChassisNo==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.ChassisNo">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowRegdNo==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.RegdNo">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowModel==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.Model">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowType==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.Type">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowColor==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.Color">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowKeyNo==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.KeyNo">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowCodeNo==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.CodeNo">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowMFGYear==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.MFGYear">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'netWeight')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.NetWeight">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Loss==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'lossRate')" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.LossRate">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Loss==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'lossWeight')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.LossWeight">
                                                    </td>

                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Fine==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'fineRate')" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.FineRate">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Fine==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'fineWeight')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.FineWeight">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Processing==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'processingRate')" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.ProcessingRate">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Processing==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'processingWeight')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.ProcessingWeight">
                                                    </td>
                                                    <td>
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="ActualQty" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'aQty')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.ActualQty" ng-style="itemDet.IsNegativeQty==true && { 'color' : 'red' }">
                                                    </td>
                                                    <td ng-hide="HideShow.BilledQty==true">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="ActualQty" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'bQty')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.BilledQty" ng-style="itemDet.IsNegativeQty==true && { 'color' : 'red' }">
                                                    </td>
                                                    <td><input type="text" class="form-control  form-control-sm" ng-model="itemDet.UnitName" disabled></td>
                                                    <td ng-hide="HideShow.AlternetUnit1==true">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:right" name="Rate" onfocus="this.select();" ng-model="itemDet.ALValue1" ng-change="ChangeItemAlternetQty(itemDet,'unit1')">
                                                    </td>
                                                    <td ng-hide="HideShow.AlternetUnit1==true">{{itemDet.UnitName1}}</td>
                                                    <td ng-hide="HideShow.AlternetUnit2==true">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:right" name="Rate" onfocus="this.select();" ng-model="itemDet.ALValue2" ng-change="ChangeItemAlternetQty(itemDet,'unit2')">
                                                    </td>
                                                    <td ng-hide="HideShow.AlternetUnit2==true">{{itemDet.UnitName2}}</td>

                                                    <td><input type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:right" name="Rate" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'rate')" noofdecimal="itemDet.RateDecimal" ng-model="itemDet.Rate" ng-readonly="itemDet.CanEditRate==false" positive="true"></td>

                                                    <td ng-hide="HideShow.Discount==true"><input type="text" class="form-control  form-control-sm" style="text-align:center" number-input ng-model="itemDet.DiscountPer" ng-change="ChangeItemRowValue(itemDet,'disPer')" positive="true"></td>
                                                    <td ng-hide="HideShow.Discount==true"><input type="text" class="form-control form-control-sm" style="text-align:right" number-input ng-model="itemDet.DiscountAmt" ng-change="ChangeItemRowValue(itemDet,'disAmt')" positive="true"></td>
                                                    <td ng-hide="HideShow.Amount==true"><input type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:right" onfocus="this.select();" name="Amount" ng-model="itemDet.Amount" noofdecimal="itemDet.AmountDecimal" ng-disabled="SelectedVoucher.CanEditProductAmount==false" ng-change="ChangeItemRowValue(itemDet,'amt')"></td>

                                                    <td ng-show="comDet.Maintain==2">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="LossWeight" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'makeing')" positive="true" noofdecimal="itemDet.AmountDecimal" ng-model="itemDet.Makeing">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="LossWeight" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'stone')" positive="true" noofdecimal="itemDet.AmountDecimal" ng-model="itemDet.Stone">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="LossWeight" style="text-align:center" onfocus="this.select();" positive="true" noofdecimal="itemDet.AmountDecimal" ng-model="itemDet.TotalAmount" disabled>
                                                    </td>

                                                    <td ng-hide="HideShow.EachNarration==true"><input type="text" class="form-control form-control-sm" ng-model="itemDet.Narration"></td>
                                                    <td class="project-actions no-print text-center">
                                                        <div class="btn-group-sm">
                                                            <a class="btn btn-info" ng-click="AddRowInSourceItemDetails($index,true)"><i class="fas fa-plus"></i></a>
                                                            <a class="btn btn-danger" ng-click="delRowFromSourceItemDetails($index)"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <div class="col-md-12" ng-show="beData.SourceItemDetailsColl.length>perPage.SourceItemDetRow">
                                            <dir-pagination-controls pagination-id="SourceItemPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                    <!-- end form fiels -->
                                    <div class="row mt-0" style="display:flex;justify-content:space-between">
                                        <div class="col-md-3">
                                            <p><b>Production (Inward)</b></p>
                                        </div>
                                        <div class="col-sm-2">
                                            @*<div class="form-group d-flex">
                                                    <label class="mt-1">Code</label>
                                                    <input type="number" class="form-control form-control-sm ml-2" />
                                                </div>*@
                                        </div>

                                    </div>

                                    <div class="table-scroll-x-y" style="height:auto!important;max-height: 20rem!important" ;>
                                        <table id="main-table-production" class="main-table table table-sm table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky" style="width: 50px; left: 0; z-index: 3;background-color:#ececec!important;">S.N.</th>
                                                    <th rowspan="2" class="text-center align-middle cstm-sticky" style="width: 300px; left: 50px; z-index: 3; background-color: #ececec!important;">Particulars</th>
                                                    <th ng-hide="HideShow.ProductDescription==true" rowspan="2" class="text-center align-middle" style="width: 150px; z-index: 2;background-color:#ececec!important;">Description</th>
                                                    <th ng-hide="HideShow.ProductLedger==true" rowspan="2" class="text-center align-middle" style="width: 150px; z-index: 2;background-color:#ececec!important;">Sales Ledger</th>
                                                    <th ng-hide="HideShow.Godown==true" rowspan="2" class="text-center align-middle" style="width: 150px; z-index: 2;background-color:#ececec!important;">Godown</th>
                                                    <th ng-hide="HideShow.CurrentBalance==true" rowspan="2" class="text-center align-middle" style="width: 150px; z-index: 2;background-color:#ececec!important;">Closing Stock</th>
                                                    <th ng-hide="HideShow.Batch==true" rowspan="2" class="text-center align-middle" style="width: 100px; z-index: 2;background-color:#ececec!important;">Batch No.</th>
                                                    <th ng-hide="HideShow.MFGDate==true" rowspan="2" class="text-center align-middle" style="width: 100px; z-index: 2;background-color:#ececec!important;">MFG.Date</th>
                                                    <th ng-hide="HideShow.EXPDate==true" rowspan="2" class="text-center align-middle" style="width: 100px; z-index: 2;background-color:#ececec!important;">EXP.Date</th>

                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowEngineNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.EngineNo}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowChassisNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.ChassisNo}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowRegdNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.RegdNo}}</th>

                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowModel==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.Model}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowType==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.Type}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowColor==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.Color}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowKeyNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.KeyNo}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowCodeNo==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.CodeNo}}</th>
                                                    <th ng-show="SelectedVoucher.FixedProduct.ShowMFGYear==true && beData.ForVehicle==true" rowspan="2" class="text-center align-middle" style="width: 120px; z-index: 2;background-color:#ececec!important;">{{SelectedVoucher.FixedProduct.MFGYear}}</th>

                                                    <th ng-show="comDet.Maintain==2" rowspan="2" class="text-center align-middle" style="width: 80px; z-index: 2;background-color:#ececec!important;">Weight<br />(gm)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Loss==true" rowspan="2" class="text-center align-middle" style="width: 70px; z-index: 2;background-color:#ececec!important;">Loss<br />(%)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Loss==true" rowspan="2" class="text-center align-middle" style="width: 80px; z-index: 2;background-color:#ececec!important;">Loss<br />(gm)</th>

                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Fine==true" rowspan="2" class="text-center align-middle" style="width: 70px; z-index: 2;background-color:#ececec!important;">Fine<br />(%)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Fine==true" rowspan="2" class="text-center align-middle" style="width: 80px; z-index: 2;background-color:#ececec!important;">Fine<br />(gm)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Processing==true" rowspan="2" class="text-center align-middle" style="width: 70px; z-index: 2;background-color:#ececec!important;">Processing<br />(%)</th>
                                                    <th ng-show="comDet.Maintain==2 && SelectedVoucher.Jewellery.Processing==true" rowspan="2" class="text-center align-middle" style="width: 80px; z-index: 2;background-color:#ececec!important;">Processing<br />(gm)</th>

                                                    <th colspan="{{(HideShow.BilledQty==true ? 2 : 3 )}}" scope="colgroup" class="text-center" style="width: 250px; z-index: 2;background-color:#ececec!important;">{{comDet.Maintain==2 ? 'Total' :'Quantity' }}</th>
                                                    <th ng-hide="HideShow.AlternetUnit1==true" colspan="2" scope="colgroup" class="text-center" style="width: 170px; z-index: 2;background-color:#ececec!important;">Alt.Unit 1</th>
                                                    <th ng-hide="HideShow.AlternetUnit2==true" colspan="2" scope="colgroup" class="text-center" style="width: 170px; z-index: 2;background-color:#ececec!important;">Alt.Unit 2</th>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Rate</th>
                                                    <th ng-hide="HideShow.Discount==true" colspan="2" scope="colgroup" class="text-center" style="width: 180px; z-index: 2;background-color:#ececec!important;">Discount</th>
                                                    <th ng-hide="HideShow.Amount==true" rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Amount</th>

                                                    <th ng-show="comDet.Maintain==2" rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Making</th>
                                                    <th ng-show="comDet.Maintain==2" rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Stone/Extra</th>
                                                    <th ng-show="comDet.Maintain==2" rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Total</th>

                                                    <th ng-hide="HideShow.EachNarration==true" rowspan="2" class="text-center align-middle" style="width: 250px;background-color:#ececec!important;">Narration</th>
                                                    <th rowspan="2" class="text-center align-middle" style="width: 90px;background-color:#ececec!important;">Action</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">{{comDet.Maintain==2 ? 'Weight' :'Actual' }}</th>
                                                    <th ng-hide="HideShow.BilledQty==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Billed</th>
                                                    <th scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Unit</th>
                                                    <th ng-hide="HideShow.AlternetUnit1==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Qty.</th>
                                                    <th ng-hide="HideShow.AlternetUnit1==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Unit</th>
                                                    <th ng-hide="HideShow.AlternetUnit2==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Qty.</th>
                                                    <th ng-hide="HideShow.AlternetUnit2==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Unit</th>
                                                    <th ng-hide="HideShow.Discount==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Per(%)</th>
                                                    <th ng-hide="HideShow.Discount==true" scope="col" class="cstm-sticky text-center" style="top: 30px; z-index: 2;background-color:#ececec!important;">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="itemDet in beData.TargetItemDetailsColl | itemsPerPage:perPage.TargetItemDetRow" current-page="currentPages.TargetItemDetRow" pagination-id="TargetItemPagination">
                                                    <th class="align-middle cstm-sticky" style="width: 50px; left: 0; z-index: 2; background-color: #fff">{{$index+1}}</th>
                                                    <td class="cstm-sticky" style="width: 250px; z-index: 2; left: 50px; background-color: #fff">
                                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="itemDet.ProductId" @*style="width:100%"*@
                                                                placeholder="** Select Product  **" showdetails="true" confirm-action="TargetProductSelectionChange(itemDet)" product-detail="itemDet.productDetail" side-bar-data="itemDet.sideBarData" godown-id="itemDet.GodownId" godown-change="godownChange1"> </select>
                                                    </td>

                                                    <td ng-hide="HideShow.ProductDescription==true"><input type="text" class="form-control form-control-sm" ng-model="itemDet.Description"></td>
                                                    <td style="z-index: 1;" ng-hide="HideShow.ProductLedger==true">
                                                        <select ng-disabled="itemDet.AutoCharge==true" class="form-control form-control-sm select2bs4" active-select2 style="width: 100%; background-color: #fff" ng-model="itemDet.LedgerId" data-placeholder="**Select Sales Ledger**">
                                                            <option ng-value="sl.LedgerId" ng-repeat="sl in SalesLedgerColl" ng-selected="itemDet.LedgerId==sl.LedgerId">{{sl.Name}}</option>
                                                        </select>
                                                    </td>
                                                    <td style="z-index: 1;" ng-hide="HideShow.Godown==true">
                                                        <select ng-disabled="itemDet.AutoCharge==true" class="form-control form-control-sm select2bs4" active-select2 style="width: 100%; background-color: #fff" ng-model="itemDet.GodownId" data-placeholder="**Select Godown**" ng-change="godownChange1()">
                                                            <option ng-repeat="cc in SelectedVoucher.VoucherWiseGodownColl track by cc.GodownId" ng-value="cc.GodownId" ng-selected="cc.GodownId == itemDet.GodownId">
                                                                {{cc.Name}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td ng-hide="HideShow.CurrentBalance==true">{{itemDet.ClosingQty}}</td>
                                                    <td ng-hide="HideShow.Batch==true">
                                                        <input ng-hide="itemDet.productDetail.MaintainBatchWise==false" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.Batch">
                                                    </td>
                                                    <td ng-hide="HideShow.MFGDate==true">
                                                        <input ng-hide="itemDet.productDetail.UseMfgDate==false" exp-date type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.MFGDate" date-detail="itemDet.MFGDateDet">
                                                    </td>
                                                    <td ng-hide="HideShow.EXPDate==true">
                                                        <input ng-hide="itemDet.productDetail.UseExpDate==false" exp-date type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.EXPDate" date-detail="itemDet.EXPDateDet">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowEngineNo==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.EngineNo">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowChassisNo==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.ChassisNo">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowRegdNo==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.RegdNo">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowModel==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.Model">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowType==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.Type">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowColor==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.Color">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowKeyNo==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.KeyNo">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowCodeNo==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.CodeNo">
                                                    </td>
                                                    <td ng-show="SelectedVoucher.FixedProduct.ShowMFGYear==true && beData.ForVehicle==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" class="form-control form-control-sm serial hideSideBar" style="text-align:left" onfocus="this.select();" ng-model="itemDet.MFGYear">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'netWeight')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.NetWeight">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Loss==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'lossRate')" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.LossRate">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Loss==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'lossWeight')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.LossWeight">
                                                    </td>

                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Fine==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'fineRate')" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.FineRate">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Fine==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'fineWeight')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.FineWeight">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Processing==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'processingRate')" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.ProcessingRate">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2  && SelectedVoucher.Jewellery.Processing==true">
                                                        <input ng-hide="itemDet.RowType=='L'" type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:center" onfocus="this.select();" ng-change="ChangeItemRowValue(itemDet,'processingWeight')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.ProcessingWeight">
                                                    </td>
                                                    <td>
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="ActualQty" style="text-align:center" onfocus="this.select();" ng-change="ChangeTargetItemRowValue(itemDet,'aQty')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.ActualQty" ng-style="itemDet.IsNegativeQty==true && { 'color' : 'red' }">
                                                    </td>
                                                    <td ng-hide="HideShow.BilledQty==true">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="ActualQty" style="text-align:center" onfocus="this.select();" ng-change="ChangeTargetItemRowValue(itemDet,'bQty')" positive="true" noofdecimal="itemDet.QtyDecimal" ng-model="itemDet.BilledQty" ng-style="itemDet.IsNegativeQty==true && { 'color' : 'red' }">
                                                    </td>
                                                    <td><input type="text" class="form-control  form-control-sm" ng-model="itemDet.UnitName" disabled></td>
                                                    <td ng-hide="HideShow.AlternetUnit1==true">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:right" name="Rate" onfocus="this.select();" ng-model="itemDet.ALValue1" ng-change="ChangeItemAlternetQty(itemDet,'unit1')">
                                                    </td>
                                                    <td ng-hide="HideShow.AlternetUnit1==true">{{itemDet.UnitName1}}</td>
                                                    <td ng-hide="HideShow.AlternetUnit2==true">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:right" name="Rate" onfocus="this.select();" ng-model="itemDet.ALValue2" ng-change="ChangeItemAlternetQty(itemDet,'unit2')">
                                                    </td>
                                                    <td ng-hide="HideShow.AlternetUnit2==true">{{itemDet.UnitName2}}</td>

                                                    <td><input type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:right" name="Rate" onfocus="this.select();" ng-change="ChangeTargetItemRowValue(itemDet,'rate')" noofdecimal="itemDet.RateDecimal" ng-model="itemDet.Rate" @*ng-readonly="itemDet.CanEditRate==false"*@ positive="true"></td>

                                                    <td ng-hide="HideShow.Discount==true"><input type="text" class="form-control  form-control-sm" style="text-align:center" number-input ng-model="itemDet.DiscountPer" ng-change="ChangeTargetItemRowValue(itemDet,'disPer')" positive="true"></td>
                                                    <td ng-hide="HideShow.Discount==true"><input type="text" class="form-control form-control-sm" style="text-align:right" number-input ng-model="itemDet.DiscountAmt" ng-change="ChangeTargetItemRowValue(itemDet,'disAmt')" positive="true"></td>
                                                    <td ng-hide="HideShow.Amount==true"><input type="text" number-input class="form-control form-control-sm serial hideSideBar" style="text-align:right" onfocus="this.select();" name="Amount" ng-model="itemDet.Amount" noofdecimal="itemDet.AmountDecimal" ng-disabled="SelectedVoucher.CanEditProductAmount==false" ng-change="ChangeItemRowValue(itemDet,'amt')"></td>

                                                    <td ng-show="comDet.Maintain==2">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="LossWeight" style="text-align:center" onfocus="this.select();" ng-change="ChangeTargetItemRowValue(itemDet,'makeing')" positive="true" noofdecimal="itemDet.AmountDecimal" ng-model="itemDet.Makeing">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="LossWeight" style="text-align:center" onfocus="this.select();" ng-change="ChangeTargetItemRowValue(itemDet,'stone')" positive="true" noofdecimal="itemDet.AmountDecimal" ng-model="itemDet.Stone">
                                                    </td>
                                                    <td ng-show="comDet.Maintain==2">
                                                        <input type="text" number-input class="form-control form-control-sm serial hideSideBar" name="LossWeight" style="text-align:center" onfocus="this.select();" positive="true" noofdecimal="itemDet.AmountDecimal" ng-model="itemDet.TotalAmount" disabled>
                                                    </td>

                                                    <td ng-hide="HideShow.EachNarration==true"><input type="text" class="form-control form-control-sm" ng-model="itemDet.Narration"></td>
                                                    <td class="project-actions no-print text-center">
                                                        <div class="btn-group-sm">
                                                            <a class="btn btn-info" ng-click="AddRowInTargetItemDetails($index,true)"><i class="fas fa-plus"></i></a>
                                                            <a class="btn btn-danger" ng-click="delRowFromTargetItemDetails($index)"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="col-md-12" ng-show="beData.TargetItemDetailsColl.length>perPage.TargetItemDetRow">
                                        <dir-pagination-controls pagination-id="TargetItemPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                        </dir-pagination-controls>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>

                <footer class="main-footer control-btns pt-0 pb-2">
                    <div class="secondary-footer mb-2 mt-2">
                        <div class="row">
                            <div class="col-md-6 col-xl-6">
                                <div class="form-group mb-1">
                                    <input type="text" list="lstNarration" class="form-control form-control-sm hideSideBar" name="" id="" rows="3" placeholder="Narration" ng-model="beData.Narration">
                                    <datalist id="lstNarration">
                                        <option ng-repeat="x1 in NarrationList track by $index" value="{{x1}}">
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-md-3 col-xl-3">
                                <div class="form-group mb-1 row">
                                    <label for="inputEmail3" class="col-5 col-sm-6 col-form-label font-weight-bold text-dark text-right">Consumption Total:</label>
                                    <div class="col-7 col-sm-6 col-md-6">
                                        <input type="text" number-input class="form-control form-control-sm hideSideBar" style="text-align:right;" placeholder="" readonly ng-model="beData.SourceTotalAmount">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xl-3">
                                <div class="form-group mb-1 row">
                                    <label for="inputEmail3" class="col-5 col-sm-6 col-form-label font-weight-bold text-dark text-right">Production Total:</label>
                                    <div class="col-7 col-sm-6 col-md-6">
                                        <input type="text" number-input class="form-control form-control-sm hideSideBar" style="text-align:right;" placeholder="" readonly ng-model="beData.TargetTotalAmount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#documentAttachModal">
                                Document Attach ({{ (beData.AttechFiles.length+(beData.DocumentColl ? beData.DocumentColl.length : 0)) }} )
                            </button>
                        </div>
                        <div class="col-sm-8">
                            <form class="text-right control-btns">
                                <button type="button" class="btn btn-sm btn-default ml-1" ng-click="ClearData()">Clear</button>
                                <button type="button" class="btn btn-sm btn-default ml-1" ng-click="SearchData()">Search</button>
                                <button type="button" class="btn btn-sm btn-success ml-1" ng-click="SaveStockJournal()" ng-disabled="loadingstatus=='running'">Save</button>
                            </form>
                        </div>
                    </div>
                </footer>
                <!--  Search Voucher right button Modal demo -->
                <div class="modal fade sales-invoice-page-modal document-attach-modal" id="searVoucherRightBtn" tabindex="-1" role="dialog" aria-labelledby="partyAccRightBtn" aria-hidden="true" style="margin-top:20px!important">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document" style="min-width: 1080px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalCenterTitle">Search Stock Journal</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body gradient-bg p-2">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group row">
                                            <label for="" class="col-sm-2 col-form-label col-form-label-sm text-center">Search By</label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <select class="form-control form-control-sm" style="width: 100%;" ng-model="paginationOptions.SearchColDet">
                                                            <option ng-value="asp" ng-repeat="asp in VoucherSearchOptions">{{asp.text}}</option>
                                                        </select>
                                                    </div>
                                                    <input type="text" class="form-control form-control" placeholder="" ng-model="paginationOptions.SearchVal" ng-change="ReSearchData(-1)">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-search" ng-click="ReSearchData(-1)"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <form class="float-right">
                                            <div class="form-row align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <label class="mr-sm-2 mb-0" for="inlineFormCustomSelect">Show</label>
                                                    <input type="text" ng-model="paginationOptions.pageSize" class="form-control form-control input-sm" placeholder="NoOfRows" @*ng-blur="ReSearchData(-2)"*@>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="">
                                    <table id="main-table" class="main-table table table-sm table-striped table-bordered mb-1">
                                        <thead>
                                            <tr>
                                                <th ng-show="GenConfig.DateStyle == 1"> Date</th>
                                                <th ng-show="GenConfig.DateStyle == 2"> Miti</th>
                                                <th>Days</th>
                                                <th>Stock Jrn. No.</th>
                                                <th>Ref. No.</th>
                                                <th>Voucher</th>
                                                <th>CostClass</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="sd in SearchDataColl |orderBy:sortKey:reverse|itemsPerPage:paginationOptions.pageSize" total-items="paginationOptions.TotalRows">
                                                <td ng-show="GenConfig.DateStyle == 1">{{sd.VoucherDate |dateFormat}}</td>
                                                <td ng-show="GenConfig.DateStyle == 2">{{sd.VoucherMiti}}</td>
                                                <td align="center">{{sd.Days}}</td>
                                                <td align="center">{{sd.VoucherNo}}</td>
                                                <td>{{sd.RefNo}}</td>
                                                <td>{{sd.VoucherName}}</td>
                                                <td>{{sd.CostClass}}</td>
                                                <td>
                                                    <a class="p-1" href="#" ng-click="GetTransactionById(sd)">
                                                        <i class="fas fa-edit text-info"></i>
                                                    </a>
                                                    <a class="p-1" href="#" ng-click="DelTransactionById(sd)">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                    <a class="p-1" href="#" ng-click="PrintVoucher(sd.TranId,sd.VoucherId)">
                                                        <i class="fas fa-print text-primary"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <dir-pagination-controls max-size="paginationOptions.pageSize" direction-links="true" boundary-links="true"
                                                             on-page-change="ReSearchData(newPageNumber)">
                                    </dir-pagination-controls>
                                </div>

                            </div>
                            <!-- end modal body -->
                            <div class="modal-footer justify-content-between align-items-center py-2">
                                <h6 class="mb-0">Total Record: {{paginationOptions.TotalRows}}</h6>
                                <div class="">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  Document Attach footer Modal demo -->
                <div class="modal fade sales-invoice-page-modal document-attach-modal" id="documentAttachModal" tabindex="-1" role="dialog" aria-labelledby="documentAttachModalTitle" aria-hidden="true" style="margin-top:20px!important">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalCenterTitle">Document Attach</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body gradient-bg">
                                <div class="input-group" ng-repeat="fl in beData.DocumentColl">
                                    <a href="#"> <span class="text-danger mr-1" ng-click="RemoveAttachment(1,$index)"><i class="fas fa-times"></i></span> {{$index+1}}  -  {{fl.Name}}</a>
                                </div>
                                <div class="input-group" ng-repeat="fl in beData.AttechFiles">
                                    <a href="#"> <span class="text-danger mr-1" ng-click="RemoveAttachment(2,$index)"><i class="fas fa-times"></i></span> {{(($index+1)+(beData.DocumentColl ? beData.DocumentColl.length : 0)) }}  -  {{fl.name}}</a>
                                </div>

                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile" multiple file-model ng-model="beData.AttechFiles">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file ({{beData.AttechFiles.length}} )</label>
                                    </div>
                                </div>
                            </div>
                            <!-- end modal body -->
                            <div class="modal-footer py-2">
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderPage("~/Global/_ReportTemplates.cshtml");
                @RenderPage("~/Views/Global/_IsValidTran.cshtml")
            </div>
        </div>
        </section>
    </div>
        <script>
            (function ($) {

                "use strict";

                var fullHeight = function () {

                    $('.js-fullheight').css('height', $(window).height());
                    $(window).resize(function () {
                        $('.js-fullheight').css('height', $(window).height());
                    });

                };
                fullHeight();

                $('#ctmRightSidebarCollapse').on('click', function () {
                    $('#sidebarzz').toggleClass('active');
                });

            })(jQuery);
        </script>

        <script>

            $(document).ready(function () {

                $(document).on('keyup', '.serial', function (e) {
                    if (e.which == 13) {
                        //var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
                        //if (key == 13) {
                        //    e.preventDefault();
                        //    var inputs = $(this).closest('form').find(':input:visible');
                        //    inputs.eq(inputs.index(this) + 1).focus();
                        //}

                        var index = $('.serial').index(this) + 1;
                        $('.serial').eq(index).focus();
                    }
                });



            });


        </script>
