
@*@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")*@
<script>
    var VoucherType = "@ViewBag.VoucherType";
    var EntityId = "@ViewBag.EntityId";
    var TranId=@ViewBag.TranId;
</script>

<script src="~/jslib/account/transaction/Contra.js?v=20251115"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="ContraController" ng-init="LoadData()" ng-cloak>
    <!-- Main content -->
    <section class="iframe-content-starts-here" style="padding-top:45px!important">
        <div class="container-fluid">
            <div class="sale-page-wrap">
                <div class="overflow-hidden">
                    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
                        @RenderPage("~/Views/Global/_LedgerDetails.cshtml")

                    <!-- Page Content  -->
                    <div class="content-wrapper-new">
                        <div class="card mt-2 bodypart">
                            <div class="demo-container">
                                <div class="demo-header">
                                    <div class="card-header header-corner-triangle overflow-hidden py-1">
                                        <div class="row">
                                            <h3 class="card-title mr-4">{{SelectedVoucher && SelectedVoucher.VoucherName ? SelectedVoucher.VoucherName : 'Contra'}}</h3>
                                            <div class="col-md-4" ng-hide="HideShow.VoucherType==true">
                                                <div class="form-group row mb-1">
                                                    <label class="col-md-4 text-nowrap">Voucher Type</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control form-control-sm hideSideBar" style="width: 100%;" ng-model="beData.VoucherId" ng-change="getVoucherNo()" ng-disabled="beData.TranId>0">
                                                            <option ng-repeat="vt in VoucherTypeColl track by vt.VoucherId" ng-value="vt.VoucherId" ng-selected="vt.VoucherId == beData.VoucherId">
                                                                {{vt.VoucherName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-hide="HideShow.CostClass==true">
                                                <div class="form-group mb-1 row">
                                                    <label for="" class="col-sm-4 col-form-label text-nowrap">Fiscal Year</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control form-control-sm hideSideBar" style="width: 100%;" ng-model="beData.CostClassId" ng-change="getVoucherNo()" ng-disabled="beData.TranId>0">
                                                            <option ng-repeat="cc in CostClassColl track by cc.CostClassId" ng-value="cc.CostClassId" ng-selected="cc.CostClassId == beData.CostClassId">
                                                                {{cc.Name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group mb-2 row">
                                                    <label for="" class="col-md-6">Voucher No.</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control form-control-sm serial" placeholder="" ng-model="beData.AutoManualNo" readonly ng-hide="HideShow.AutoVoucherNo==true">
                                                        <input type="text" class="form-control form-control-sm serial hideSideBar" placeholder="" ng-model="beData.ManualVoucherNO" ng-hide="HideShow.AutoVoucherNo==false">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group mb-2 row">
                                                    <label for="" class="col-md-4">{{SelectedVoucher.RefNoName ? SelectedVoucher.RefNoName : 'Ref. No.'}}</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control form-control-sm" ng-model="beData.RefNo" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group mb-2 row">
                                                    <label for="" class="col-md-4">Voucher Date</label>
                                                    <div class="col-md-8">
                                                        <input type="text"
                                                               class="form-control form-control-sm" date-picker ng-model="beData.VoucherDate_TMP" date-detail="beData.VoucherDateDet" confirm-action="getVoucherNoOnly()">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="" class="col-md-2">Select Cash/Bank</label>
                                                    <div class="col-md-10">
                                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="beData.CashBankLedgerId" id="cboCashBank" @*style="width:95%"*@ ledgertype="8" fortransaction="true"
                                                                placeholder="** Select Party Name **" showdetails="true" confirm-action="PartySelectionChange(beData)" ledger-detail="beData.PartyLedger" side-bar-data="beData.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="4"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-scroll-x-y mb-1 table-container">
                                    <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                        <thead class="text-center">
                                            <tr>
                                                <th style="width: 50px;background-color:#ececec!important">S.No.</th>
                                                <th style="width: 200px; background-color: #ececec !important;z-index:3">Particulars</th>
                                                <th ng-repeat="ud in SelectedVoucher.VoucherProductUDFColl  | filter: { FieldAfter: 1 }:true" rowspan="2" class="text-center align-middle" style="width: 120px;background-color:#ececec!important;">{{ud.Label}}</th>
                                                <th style="width: 150px; background-color: #ececec !important">Current Bal.</th>
                                                <th ng-repeat="ud in SelectedVoucher.VoucherProductUDFColl  | filter: { FieldAfter: 5 }:true" rowspan="2" class="text-center align-middle" style="width: 120px;background-color:#ececec!important;">{{ud.Label}}</th>
                                                <th style="width: 150px; background-color: #ececec !important">Amount</th>
                                                <th ng-show="SelectedVoucher.EachNarrationEntry==true" style="width: 150px; background-color: #ececec !important">Narration</th>
                                                <th ng-repeat="ud in SelectedVoucher.VoucherProductUDFColl  | filter: { FieldAfter: 0 }:true" rowspan="2" class="text-center align-middle" style="width: 120px;background-color:#ececec!important;">{{ud.Label}}</th>
                                                <th class="text-center align-middle" style="width: 70px; background-color: #ececec !important">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="ledAllocation in beData.LedgerAllocationColl">
                                                <td align="center">{{$index+1}}</td>
                                                <td>
                                                    <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="ledAllocation.LedgerId" ledgertype="8" fortransaction="true"
                                                            placeholder="** Select Ledger Name **" showdetails="true" confirm-action="ChangeParticularLedger(ledAllocation)" ledger-detail="ledAllocation.PartyLedger" side-bar-data="ledAllocation.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="4"></select>

                                                </td>
                                                <td ng-repeat="uf in ledAllocation.UDFFeildsColl | filter: { FieldAfter: 1 }:true ">
                                                    <udf-field udf="uf" voucher="SelectedVoucher"></udf-field>
                                                </td>
                                                <td>{{ledAllocation.CurrentBal |accountFormat}}</td>
                                                <td ng-repeat="uf in ledAllocation.UDFFeildsColl | filter: { FieldAfter: 5 }:true ">
                                                    <udf-field udf="uf" voucher="SelectedVoucher"></udf-field>
                                                </td>
                                                <td><input type="text" number-input noofdecimal="SelectedVoucher.NoOfDecimalPlaces" style="text-align:right" onfocus="this.select();" class="form-control form-control-sm" ng-model="ledAllocation.CrAmount" ng-blur="AddRowInLedgerAllocation($index,true)" ng-change="ChangeCrAmount(ledAllocation)" positive="true"></td>
                                                <td ng-show="SelectedVoucher.EachNarrationEntry==true"><input type="text" onfocus="this.select();" class="form-control form-control-sm" ng-model="ledAllocation.Narration"></td>
                                                <td ng-repeat="uf in ledAllocation.UDFFeildsColl | filter: { FieldAfter:0 }:true ">
                                                    <udf-field udf="uf" voucher="SelectedVoucher"></udf-field>
                                                </td>
                                                <td class="text-center">
                                                    <a class="p-1" href="#" data-original-title="Add Row" ng-click="AddRowInLedgerAllocation($index)">
                                                        <i class="fas fa-plus text-info"></i>
                                                    </a>
                                                    <a class="p-1" href="#" data-original-title="Delete Row." ng-click="delRowLedgerAllocation($index)">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Narration</label>
                                        <input type="text" list="lstNarration" class="form-control form-control-sm hideSideBar" name="" id="" rows="3" placeholder="Narration" ng-model="beData.Narration">
                                        <datalist id="lstNarration">
                                            <option ng-repeat="x1 in NarrationList track by $index" value="{{x1}}">
                                        </datalist>
                                    </div>
                                </div>
                            </div>*@

                    </div>

                    <div class="modal fade sales-quotation-page-modal document-attach-modal" id="searVoucherRightBtn" tabindex="-1" role="dialog" aria-labelledby="partyAccRightBtn" aria-hidden="true" style="margin-top:20px!important">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document" style="min-width:1080px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="exampleModalCenterTitle">Search Contra</h6>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body gradient-bg p-2">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="" class="col-sm-2 col-form-label col-form-label-sm text-center">Search By</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <select class="form-control form-control-sm " style="width: 100%;" ng-model="paginationOptions.SearchColDet">
                                                                <option ng-value="asp" ng-repeat="asp in VoucherSearchOptions">{{asp.text}}</option>
                                                            </select>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="" ng-model="paginationOptions.SearchVal">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                <span class="fas fa-search" ng-click="ReSearchData(-1)"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <form class="float-right">
                                                <div class="form-row align-items-center">
                                                    <div class="d-flex align-items-center">
                                                        <label class="mr-sm-2 mb-0" for="inlineFormCustomSelect">Show</label>
                                                        <input type="text" ng-model="paginationOptions.pageSize" class="form-control form-control-sm input-sm" placeholder="NoOfRows" @*ng-blur="ReSearchData(-2)"*@>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="">
                                        <table id="main-table" class="main-table table table-sm table-striped table-bordered mb-1">
                                            <thead>
                                                <tr>
                                                    <th>Voucher No</th>
                                                    <th>RefNo</th>
                                                    <th ng-show="GenConfig.DateStyle == 2">Voucher Miti</th>
                                                    <th ng-show="GenConfig.DateStyle == 1">Voucher Date</th>
                                                    <th>Voucher Name</th>
                                                    <th>CostClass</th>
                                                    <th>Ledger</th>
                                                    <th>Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="sd in SearchDataColl |orderBy:sortKey:reverse|itemsPerPage:paginationOptions.pageSize" total-items="paginationOptions.TotalRows">
                                                    <td align="center">{{sd.VoucherNo}}</td>

                                                    <td>{{sd.RefNo}}</td>
                                                    <td ng-show="GenConfig.DateStyle == 2">{{sd.VoucherMiti}}</td>
                                                    <td ng-show="GenConfig.DateStyle == 1">{{sd.VoucherDate |dateFormat}}</td>
                                                    <td>{{sd.VoucherName}}</td>
                                                    <td>{{sd.CostClass}}</td>
                                                    <td>{{sd.Ledger}}</td>
                                                    <td>{{sd.Amount |number:3}}</td>
                                                    <td>
                                                        <a class="p-1" href="#" ng-click="GetTransactionById(sd)">
                                                            <i class="fas fa-edit text-info"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="DelTransactionById(sd)">
                                                            <i class="fas fa-trash-alt text-danger"></i>
                                                        </a>
                                                        <a class="p-1" href="#" ng-click="PrintVoucher(sd.TranId,sd.VoucherId)">
                                                            <i class="fas fa-print text-primary"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        <dir-pagination-controls max-size="paginationOptions.pageSize" direction-links="true" boundary-links="true"
                                                                 on-page-change="ReSearchData(newPageNumber)">
                                        </dir-pagination-controls>
                                    </div>

                                </div>
                                <!-- end modal body -->
                                <div class="modal-footer justify-content-between align-items-center py-2">
                                    <h6 class="mb-0">Total Record: {{paginationOptions.TotalRows}}</h6>
                                    <div class="">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--/. container-fluid -->
        </div>
        <!-- /.content -->

        <footer class="main-footer control-btns pt-0 pb-2">
            <div class="secondary-footer mb-2 mt-2">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" list="lstNarration" class="form-control form-control-sm form-control-sm hideSideBar" name="" id="" rows="3" placeholder="Narration" ng-model="beData.Narration">
                            <datalist id="lstNarration">
                                <option ng-repeat="x1 in NarrationList track by $index" value="{{x1}}">
                            </datalist>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <div class="form-group row">
                            <label for="" class="col-md-2">Total</label>
                            <label class="form-control form-control-sm col-md-9">
                                {{ beData.Amount |number:SelectedVoucher.NoOfDecimalPlaces }}
                            </label>

                        </div>
                    </div>
                </div>
                <div class="row ">

                    <div class="col-md-4">
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#documentAttachModal">
                            Document Attach ({{ (beData.AttechFiles.length+(beData.DocumentColl ? beData.DocumentColl.length : 0)) }} )
                        </button>

                    </div>
                    <div class="col-md-8">
                        <span class="d-block text-right">
                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="SearchData()">Search</button>
                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="Print()">Re-Print</button>
                            <button type="button" class="btn btn-sm btn-default" style="min-width: 90px;" ng-click="Clear()">Reset</button>
                            <button type="button" class="btn btn-sm btn-success" style="min-width: 90px;" ng-click="SaveContra()" ng-disabled="loadingstatus=='running'">{{beData.Mode}}</button>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        @*file-upload modal*@
        <div class="modal fade sales-invoice-page-modal document-attach-modal" id="documentAttachModal" tabindex="-1" role="dialog" aria-labelledby="documentAttachModalTitle" aria-hidden="true"  style="margin-top:20px!important">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalCenterTitle">Document Attach</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body gradient-bg">
                        <div class="input-group" ng-repeat="fl in beData.DocumentColl">
                            <a href="#"> <span class="text-danger mr-1" ng-click="RemoveAttachment(1,$index)"><i class="fas fa-times"></i></span> {{$index+1}}  -  {{fl.Name}}</a>
                        </div>
                        <div class="input-group" ng-repeat="fl in beData.AttechFiles">
                            <a href="#"> <span class="text-danger mr-1" ng-click="RemoveAttachment(2,$index)"><i class="fas fa-times"></i></span> {{(($index+1)+(beData.DocumentColl ? beData.DocumentColl.length : 0)) }}  -  {{fl.name}}</a>
                        </div>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile" multiple file-model="beData.AttechFiles" ng-model="beData.AttechFiles">
                                <label class="custom-file-label" for="exampleInputFile">Choose file ({{beData.AttechFiles.length}} )</label>
                            </div>
                        </div>
                    </div>
                    <!-- end modal body -->
                    <div class="modal-footer py-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Ok</button>
                        @*<button type="button" class="btn btn-sm btn-primary">Ok</button>*@
                    </div>
                </div>
            </div>
        </div>

        <!-- Add ReportTemplates Modal Dailog -->
        <div class="modal fade bd-example-modal-xl sales-invoice-page-modal" id="FrmPrintReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalCenterTitle">Report Viewer</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="frmRpt" style='width: 100%; height: 600px; background-color: white; visibility:visible;' frameborder='0' scrolling='yes'></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderPage("~/Views/Global/_IsValidTran.cshtml")
</section>
</div>


<script>
    $(function () {
        $("#wrapper").toggleClass("toggled");
        $("#sidebar-wrapper").css("overflow-y", "hidden");

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            $("#sidebar-wrapper").css("overflow-y", "auto");
        });
    });
</script>
<script>
    (function ($) {
        "use strict";
        var fullHeight = function () {
            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
                $('.js-fullheight').css('height', $(window).height());
            });
        };
        fullHeight();
        $('#ctmRightSidebarCollapse').on('click', function () {
            $('#sidebarzz').toggleClass('active');
        });

    })(jQuery);
</script>

<script>
    $(document).ready(function () {
        $(document).on('keyup', '.serial', function (e) {
            if (e.which == 13) {
                //var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
                //if (key == 13) {
                //    e.preventDefault();
                //    var inputs = $(this).closest('form').find(':input:visible');
                //    inputs.eq(inputs.index(this) + 1).focus();
                //}

                var index = $('.serial').index(this) + 1;
                $('.serial').eq(index).focus();
            }
        });
    });
</script>